[user]
  name = Patrick Regan
  email = patrick.rubbs.regan@gmail.com
	signingkey = 40F40E48C0C97882
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	excludesfile = ~/.gitignore_global
	editor = vim
[apply]
  whitespace = fix
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  rb = rbranch
  rv = review
  st = status
  ksdiff = difftool -y -t Kaleidoscope
  ctags = !.git/hooks/ctags
[branch "master"]
  remote = origin
  merge = refs/heads/master
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  tool = vimdiff
  log = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[rerere]
  enabled = 1
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[url "git@heroku.com:"]
  insteadOf = "heroku:"
[giggle]
  main-window-maximized = true
  main-window-geometry = 492x168+0+24
  history-view-vpane-position = 580
  main-window-view = HistoryView
  file-view-vpane-position = 1012
[push]
	default = current
[init]
  templatedir = ~/.git_template
[commit]
	template = ~/.git_template/commit.template
